<h1> Funker Index Page </h1>

<h2>Here are all your Funks</h2>

<% @funks.each do |one_funk| %>
	<ul>
<li>	<h2><%= one_funk.content%></h2>
	<%= one_funk.created_at%> </li>


	</ul>
<% end %>

	Current location:
	<%= session[:lat]%> <%= session[:long]%>